router bgp 100
{% for neighbor in bgp %}
 neighbor {{ neighbor.ipaddr4 }} description {{ neighbor.name }}
 neighbor {{ neighbor.ipaddr4 }} remote-as {{ neighbor.asn }}
 neighbor {{ neighbor.ipaddr4 }} inherit peer-session peeringdb
 neighbor {{ neighbor.ipaddr4 }} ttl-security hops 1
 neighbor {{ neighbor.ipaddr4 }} maximum-prefix 800 90 restart 60
 neighbor {{ neighbor.ipaddr4 }} activate
 neighbor {{ neighbor.ipaddr4 }} inherit peer-policy
 address-family ipv4 unicast
{% endfor %}
